{% load static %}

<style>

        .bg-white-1 {
            background-color: #f5f5f5;
        }

        .bg-white-1:not([style*="background-"]) + .bg-white-1:not([style*="background-"]) {
            padding-top: 0;
        }

        .bg-white-1-decor {
            position: relative;
        }

        .bg-white-1-decor:before {
            content: '';
            position: absolute;
            z-index: 1;
            left: 0;
            right: 0;
            bottom: calc(100% - 2px);
            height: 65px;
            background-image: url('../images/decor-wave-bottom2.png');
        }

        .img-style {
            margin-top: 30px;
            margin-right: -16px;
            width: 150px;
            height: 70px;
        }

</style>
<section class="section section-lg bg-default bg-white-1-decor ">
    <div class="container" dir="rtl">
        <div class="row row-50 flex-lg-row-reverse justify-content-xl-between">
            <div class="col-xl-4">
                <div class="block-bordered-left">
                    <div class="row row-40">

                        <div class="col-sm-6 col-xl-12">
                            <!-- Article section -->
                            <h4 style="color: #a1a1a1; text-align: center; margin-bottom: 30px">مقالات</h4>
                            <ul class="article-list">
                                {% for article in articles %}
                                    <li style="text-align: right; display: flex; align-items: center;">
                                        <img class="img-style" src="{{ article.image.url }}" alt="">
                                        <h4 style="margin-right: 30px;white-space: nowrap;">
                                            <a href="{% url "article:article" id=article.id %}" class="link-style"
                                               style="text-decoration: none;">
                                                {{ article.title }}
                                            </a>
                                        </h4>
                                    </li>

                                {% endfor %}

                            </ul>

                        </div>
                    {% for sidebar in sidebar %}
                        <div class="col-sm-6 col-xl-12">
                            <!-- Article section -->
                            <h4 style="color: #a1a1a1; text-align: center; margin-bottom: 30px">{{ sidebar.title }}</h4>
                            <ul class="article-list">
                                <li style="text-align: right; display: flex ;">
                                    <p style="font-size: 25px; text-align: right; margin-top: 10px;">
                                        {{ sidebar.content }}
                                    </p>
                                </li>
                            </ul>
                        </div>
                    {% endfor %}


                    </div>

                </div>
            </div>


