{% load static %}


<section class="section section-lg section-main-bunner section-main-bunner-filter">
  <div class="main-bunner-img" style="background-image: url({{banner.image.url}}); background-size: cover; background-position: center;"></div>
  <div class="main-bunner-inner">
    <div class="container">
      <div class="row row-50 justify-content-lg-center align-items-lg-center">
        <div class="col-lg-12">
          <div class="bunner-content-modern text-center">
            <h1 class="main-bunner-title">{{ banner.title }}</h1>
            <p style="font-size: 30px">{{ banner.text }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>





